@page "/bigram"

<div>
    <h3>Bigram Parsing</h3>
    <p>Enter text into the field below and hit "Go" to parse out the bigrams in the text.</p>
    
    <div>
        <EditForm Model="@ParserModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />

            <InputText id="userInput" @bind-Value="ParserModel.InputText"/>

            <button type="submit">Submit</button>
            <ValidationSummary />
        </EditForm>
    </div>

    <div id="results" class="@showResultsCss">
        <p>Results:</p>
        @* <ul>
            @foreach (KeyValuePair<Tuple<string, string>, int> bigram in ParserModel.BigramValues)
                {<li>@bigram.Key.Item1, @bigram.Key.Item2: @bigram.Value</li>}
        </ul> *@
        @if (showResults)
        {
            <HistogramView HistogramModel="@HistogramModel" />
        }
    </div>

</div>

@code {
    private Parser ParserModel = new Parser();
    private bool showResults = false;
    private string showResultsCss => showResults ? null : "collapse";
    private Histogram HistogramModel;
    private void HandleValidSubmit(){
        ParserModel.Clear();
        ParserModel.SanitizeText();

        // We'll only show results if we successfully parsed input.
        showResults = ParserModel.ParseText();
        if (showResults){
            HistogramModel = new Histogram(ParserModel.BigramValues);
        }
    }
}