﻿@page "/"

<h1>Hello Bigrams!</h1>

<p>This very small web application is a simple implementation of Blazor Webassembly Pages. That means that this entire application is running in a .NET Core Runtime <em>in the browser</em>! This allows me to leverage the whole .NET framework without having to ship data back and forth between whatever computer you are using and my web server. This lowers the bandwidth usage on my end (though that's a non-issue, since this is hosted behind Cloudflare), and means that the only bits that cross the wire are the application code (going to you) and the HTTP requests for that application code (coming from you). Nothing that you type into any of the fields within this application will ever leave your computer.</p>

<p>The code for this application, in order to prove that point and let you guys build and run it yourselves, will be on my <a href="https://gitlab.com/b4ux1t3/bigramparsing">GitLab</a>.</p>

<p>Go ahead and click the "Bigram Parsing" nav item to check out the application.</p>

<h2>Some technical details:</h2>
<ul>
    <li>I used a bit of CSS Grid and a bit of FlexBox to achieve the histogram portion. A lot of the styling is hard coded, and that could be better done with more time.</li>
    <li>I did all of the prototyping and testing using .NET Core.</li>
    <li>Final application size is just over 6MB (67KB over, to be exact). Given I'm packing a whole framework into your browser, that's not too bad, eh?</li>
    <li>Most of the error handling is in sanitization techniques. It'd be very difficult to inject code into this app barring some kind of vulnerability in webassembly itself. Frankly, more extreme error handling (Handling exceptions and the like) would be very heavy and would bloat this app significantly.</li>
</ul>