<div style="display: grid; grid-template-columns: 20% 80%; grid-template-rows: 100%;">
    <div style="@LabelStyle">
        @foreach (var item in HistogramModel.Data)
            {<div>@item.Key</div>}
    </div>
    <div style="@HistogramStyle">
        @foreach (var item in HistogramModel.Data)
            {<div class="column" style="width:@item.Value"></div>}
    </div>
</div>
@code{
    [Parameter] public Histogram HistogramModel {get; set;}

    private string HistogramStyle => $"display: flex; justify-content: space-between; flex-direction: column;";
    private string LabelStyle => $"display: flex; flex-direction: column; justify-content: space-between";

    
}